<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Datos personales:</strong>
  <%= @task.description %>
</p>



<%= link_to 'Editar', edit_task_path(@task) %> |
<%= link_to 'Regresar', tasks_path %>
