<p id="notice"><%= notice %></p>

<h1>Reporte de horas laboradas</h1>

<table>
  <thead>
    <tr>
      <th>Horas</th>
      <th>Trabajador</th>
      <th>Horario laboral</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @pps.each do |pp| %>
      <tr>
        <td><%= pp.horas %></td>
        <td><%= pp.worker_id %></td>
        <td><%= pp.l %></td>
        <td><%= link_to 'Ver', pp %></td>
        <td><%= link_to 'Editar', edit_pp_path(pp) %></td>
        <td><%= link_to 'Eliminar', pp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Reportar horas', new_pp_path %>
<br>

<%= link_to "Pagina principal", "http://localhost:3000" %>