<p id="notice"><%= notice %></p>

<p>
  <strong>Horas:</strong>
  <%= @pp.horas %>
</p>

<p>
  <strong>Trabajador:</strong>
  <%= @pp.worker_id %>
</p>

<p>
  <strong>Tipo de hora:</strong>
  <%= @pp.l %>
</p>

<%= link_to 'Editar', edit_pp_path(@pp) %> |
<%= link_to 'Regresar', pps_path %>
