<p id="notice"><%= notice %></p>

<p>
  <strong>Cedula:</strong>
  <%= @worker.cedula %>
</p>

<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Eps:</strong>
  <%= @worker.eps %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
